{% extends 'base.html.twig' %}
{% block title %}About Us {% endblock %}
    {% block body %}
        <h1><center>About Us</center></h1>
        <div class="text-center">
            <img src="https://img.freepik.com/vecteurs-libre/concept-illustration-interactions-apprentissage-electronique_114360-23713.jpg" 
                 alt="Description de l'image" 
                 class="img-fluid" 
                 style="max-width: 800px; width: 100%; height: auto;">
        </div>

        <h3>Cette page illustre de manière moderne le concept de l'apprentissage en ligne (e-learning) .</h3>
        <a href="{{ path ('app_pages') }}" class="btn btn-primary">Back to Home</a>

       
    {% endblock %} 